@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #7f7c82;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #e8dfca;
  border-radius: 5px;
}

.App {
  z-index: 998;
  margin-left: 0px;
}
@media screen and (max-width: 767px) {
  .App {
    transition: margin-left 0.5s ease-in-out;
  }
}
@media screen and (max-width: 930px) {
  .App {
    display: flex;
    justify-content: center;
  }
}

body {
  z-index: 997;
}

.btn {
  padding: 0.5rem;
}

.cta-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  background-color: #aebdca;
  color: #fff;
}
.cta-btn:hover {
  color: #fff;
  background-color: #7895b2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.outline-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  background-color: #fff;
  color: #7895b2;
  border: 1px solid #7895b2;
}
.outline-btn:hover {
  color: #fff;
  background-color: #7895b2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.outline-btn:hover {
  border: 1px solid #7895b2;
}

.test {
  border: 1px solid red;
}

.error {
  padding: 0.5rem;
  background-color: #ffe3e1;
  border: 1px solid #ff9494;
  border-radius: 0.5rem;
}

.success {
  padding: 0.5rem;
  background-color: #e1f7e3;
  border: 1px solid #94ff94;
  border-radius: 0.5rem;
}

.blog-wrapper {
  max-width: 300px;
  min-width: 300px;
  min-height: -moz-max-content;
  min-height: max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  border: 1px solid #f5efe6;
  padding: 0.5rem;
  border-radius: 5px;
}
.blog-wrapper .header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.blog-wrapper .header .top {
  width: 100%;
}
.blog-wrapper .header .top .category {
  background-color: #fff;
  position: absolute;
  padding: 0.5rem;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 5px;
}
.blog-wrapper .header .bottom {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog-wrapper:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.blog-wrapper img {
  width: 100%;
  height: calc(230px - 1rem);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.blog-wrapper .title {
  margin: 0.5rem 0;
  font-weight: 500;
}
.blog-wrapper .author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}
.blog-wrapper .tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.5rem 0;
  overflow-x: scroll;
}
.blog-wrapper .tag {
  font-size: 0.625rem;
  background-color: #f5efe6;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  gap: 0.2rem;
}
.blog-wrapper .date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.blog-wrapper .views {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.blog-wrapper .content {
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.5em;
  min-height: 3em;
}
.blog-wrapper .read-more {
  display: inline-block;
  padding: 0.2rem;
  text-decoration: underline;
  color: #7f7c82;
}
.blog-wrapper .read-more:hover {
  color: #7895b2;
  cursor: pointer;
}/*# sourceMappingURL=BlogCard.css.map */