@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #7f7c82;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #e8dfca;
  border-radius: 5px;
}

.App {
  z-index: 998;
  margin-left: 0px;
}
@media screen and (max-width: 767px) {
  .App {
    transition: margin-left 0.5s ease-in-out;
  }
}
@media screen and (max-width: 930px) {
  .App {
    display: flex;
    justify-content: center;
  }
}

body {
  z-index: 997;
}

.btn {
  padding: 0.5rem;
}

.cta-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  background-color: #aebdca;
  color: #fff;
}
.cta-btn:hover {
  color: #fff;
  background-color: #7895b2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.outline-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  background-color: #fff;
  color: #7895b2;
  border: 1px solid #7895b2;
}
.outline-btn:hover {
  color: #fff;
  background-color: #7895b2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.outline-btn:hover {
  border: 1px solid #7895b2;
}

.test {
  border: 1px solid red;
}

.error {
  padding: 0.5rem;
  background-color: #ffe3e1;
  border: 1px solid #ff9494;
  border-radius: 0.5rem;
}

.success {
  padding: 0.5rem;
  background-color: #e1f7e3;
  border: 1px solid #94ff94;
  border-radius: 0.5rem;
}

.popularpost-container {
  margin: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  position: relative;
}

.popularpost-title {
  margin-bottom: 0.5rem;
}

.popularpost {
  min-width: 300px;
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  overflow: hidden;
}
.popularpost img {
  border-radius: 5px;
  width: 300px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.popularpost:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.popularpost-info {
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 0.5rem;
}
.popularpost-info h4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-bottom: 0.2rem;
}
.popularpost-info p {
  font-weight: 200px;
  font-size: 0.75rem;
}

.popularpost-info-back {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #fff;
}/*# sourceMappingURL=PopularPost.css.map */