//sizes
$xs: 0.2rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 3rem;

// test border
$border-test: 1px solid red;
$border: 1px solid;

//colors
$text: #333;
$text: #7f7c82;
$base: #fff;
$primary: #7895b2;
$secondary: #aebdca;
$tertiary: #e8dfca;
$quternary: #f5efe6;

$error-bg: #ffe3e1;
$error-border: 1px solid #ff9494;

$success-bg: #e1f7e3;
$success-border: 1px solid #94ff94;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
